/**********************
*                     *
*    File: irc.css    *
*                     *
**********************/

@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #000000;
	color: #CCCCCC;
	font-family: Consolas, Monospace;
	overflow: hidden;
}

div {
	position: relative;
	width: auto;
}

.tchat {
	border: 2px solid;
	border-radius: 8px;
	height: 390px;
	width: 300px;
}

.title {
	border-bottom: 1px solid;
	margin-left: 4px;
}

#tchat_area {
	border: 1px solid;
	border-radius: 8px;
	height: 320px;
	margin: 4px;
	overflow-x: hidden;
	padding: 2px;
	word-wrap: break-word;
}

.tchat_entry {
	border-top: 1px solid;
	margin-left: 4px;
}

input {
	background-color: #000000;
	border: 1px solid;
	border-radius: 8px;
	color: #CCCCCC;
	font-family: Consolas;
	margin-top: 3px;
	padding: 3px;
}

#text_input { width: 72.5%; }
#text_input:hover { background-color: #000000; }

/******
* END *
******/
