/*************************
*                        *
*    File: scroll.css    *
*                        *
*************************/
@charset "UTF-8";

::-webkit-scrollbar {
	border-radius: 3px;
	height: 100%;
	width: 12px;
}

::-webkit-scrollbar:horizontal {
	border-radius: 3px;
	height: 12px;
	width: 100%;
}

::-webkit-scrollbar-track-piece {
	border-radius: 3px;
	margin: 1.5%;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
}

::-webkit-scrollbar-button {
	border-radius: 3px;
	height: 25px;
}

/********
*  END  *
********/
