/************************
*                       *
*    File: style.css    *
*                       *
************************/

::-webkit-scrollbar {
	background-color: #000000;
	border-radius: 3px;
	height: 100%;
	width: 12px;
}

::-webkit-scrollbar:horizontal {
	background-color: #000000;
	border-radius: 3px;
	height: 12px;
	width: 100%;
}

::-webkit-scrollbar-track-piece {
	background: #000000;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	margin: 1.5%;
}

::-webkit-scrollbar-thumb {
	border: 1px solid #002200;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 .0625em rgb(180,180,180), inset 0 0 0 .375em rgb(0,0,0);
}

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 .0625em rgb(180,180,180), inset 0 0 0 .375em rgb(180,180,180);
}

::-webkit-scrollbar-corner {
	background-color: #000000;
}

::-webkit-scrollbar-button {
	background-color: #000000;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	height: 25px;
}

::-webkit-scrollbar-button:hover {
	-webkit-box-shadow: inset 0 0 0 .0625em rgb(180,180,180), inset 0 0 0 .375em rgb(180,180,180);
}

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #000000;
	color: #CCCCCC;
	font-family: Consolas, Monospace;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.annimation {
	overflow: hidden;
}

header {
	height: 5%;
	position: relative;
	text-align: center;
	width: 100%;
}

.time {
	font-size: 18px;
	margin-left: 4px;
	margin-top: 4px;
	position: absolute;
}

.info {
	margin-left: 120px;
}

.h-butons {
	margin-top: 4px;
	margin-right: 4px;
	position: absolute;
	right: 0px;
}

/*.dev {
	border: 1px solid;
	border-radius: 8px;
	margin-top: 4px;
	margin-right: 4px;
	padding: 2px;
	position: absolute;
	right: 300px;
}*/

input {
	background-color: #000000;
	border: 2px solid;
	border-radius: 6px;
	color: #CCCCCC;
	font-family: Consolas, Monospace;
	margin: 2px;
	padding: 3px;
	position: relative;
	transition: 0.5s;
}

input:hover {
	background-color: #CCCCCC;
	color: #000000;
}

#msg0, #msg1, #msg2 {
	color: #FF0000;
}

section {
	height: 91%;
	position: relative;
	width: 100%;
}

fieldset {
	background-color: #000000;
	border: solid 2px;
	border-radius: 8px;
	padding: 4px;
}

aside {
	border-bottom: 2px solid;
	border-radius: 8px;
	border-top: 2px solid;
	height: 100%;
	position: absolute;
	width: 30%;
}

.left {
	border-left: 2px solid;
	left: 1%;
}

.right {
	border-right: 2px solid;
	left: 68.5%;
}

.about, #popup {
	bottom: 12%;
	left: 12%;
	right: 12%;
	top: 12%;
	position: absolute;
	width: auto;
}

iframe {
	border: 0;
	height: 100%;
	width: 100%;
}

article {
	border-bottom: 2px solid;
	border-radius: 8px;
	border-top: 2px solid;
	height: 100%;
	left: 34%;
	position: absolute;
	width: 31.5%;
}

h2 {
	background-color: #CCCCCC;
	border-radius: 4px;
	color: #000000;
	height: 4.30%;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	padding-left: 4px;
	position: relative;
}

.content {
	border: 1px solid;
	border-radius: 4px;
	height: 95%;
	overflow: auto;
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
	width: auto;
}

footer {
	height: 3%;
	padding-bottom: 4px;
	padding-top: 4px;
	position: relative;
	text-align: left;
	width: 100%;
}

/********
*  END  *
********/
