/************************
*                       *
*    File: style.css    *
*                       *
************************/

.userswitch {
	margin-left: -30%;
	position: absolute;
	width: 90px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.userswitch-checkbox {
	display: none;
}

.userswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #CCCCCC;
	border-radius: 50px;
}

.userswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.userswitch-inner:before, .userswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 25px;
	padding: 0;
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-family: Consolas, Monospace;
	font-weight: bold;
	box-sizing: border-box;
}

.userswitch-inner:before {
	content: "ADMIN";
	margin-left: -10px;
	background-color: #000000;
	color: #CCCCCC;
}

.userswitch-inner:after {
	content: "USER";
	padding-right: 10px;
	background-color: #000000;
	color: #CCCCCC;
	text-align: right;
}

.userswitch-switch {
	display: block;
	width: 15px;
	margin: 6px;
	background: #000000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 56px;
	border: 2px solid #CCCCCC;
	border-radius: 50px;
	transition: all 0.3s ease-in 0s; 
}

.userswitch-checkbox:checked + .userswitch-label .userswitch-inner {
	margin-left: 0;
}

.userswitch-checkbox:checked + .userswitch-label .userswitch-switch {
	right: 0px; 
}

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #000000;
	color: #CCCCCC;
	font-family: Consolas, Monospace;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.annimation {
	overflow: hidden;
}

header {
	height: 5%;
	position: relative;
	text-align: center;
	width: 100%;
}

.time {
	font-size: 18px;
	margin-left: 4px;
	margin-top: 4px;
	position: absolute;
}

.info {
	margin-left: 120px;
}

.h-butons {
	margin-top: 4px;
	margin-right: 4px;
	position: absolute;
	right: 0px;
}

input {
	background-color: #000000;
	border: 2px solid;
	border-radius: 6px;
	color: #CCCCCC;
	font-family: Consolas, Monospace;
	margin: 2px;
	overflow: hidden;
	padding: 3px;
	position: relative;
	transition: 0.5s;
}

input:hover {
	background-color: #CCCCCC;
	color: #000000;
}

.list {
	border: 1px solid;
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	border-top: 0;
	margin: 0;
	margin-left: 5%;
	padding-left: 2px;
	padding-right: 0;
	text-align: left;
	width: 95%;
}

.list:hover {
	background-color: #333333;
	color: #CCCCCC;
}

#to, #to:hover {
	background-color: #000000;
	border-color: #CCCCCC;
	color: #999999;
}

.controls {
	border: 1px solid;
	border-radius: 3px;
	right: 150px;
	padding: 4px;
	transition: 0s;
}

.controls:hover {
	background-color: #333333;
	color: #CCCCCC;
}

.modif, .modif:hover {
	background-color: #000000;
	color: #CCCCCC;
	border: 1px solid;
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	border-top: 0;
	padding: 4px;
	transition: 0s;
}

.WARN, #msg0, #msg1, #msg2 {
	color: #FF0000;
}

.ACT, #msg3 {
	color: #00FF00;
}

.WARN:hover {
	background-color: #FF0000;
	color: #000000;
}

.ACT:hover {
	background-color: #00FF00;
	color: #000000;
}

select {
	background-color: #000000;
	border-radius: 4px;
	color: #CCCCCC;
	padding: 2px;
	transition: 0.5s;
}

select:hover {
	background-color: #333333;
}

section {
	height: 91%;
	position: relative;
	width: 100%;
}

fieldset {
	background-color: #000000;
	border: solid 2px;
	border-radius: 8px;
	padding: 4px;
}

aside {
	border-bottom: 2px solid;
	border-radius: 8px;
	border-top: 2px solid;
	height: 100%;
	position: absolute;
	width: 30%;
}

.left {
	border-left: 2px solid;
	left: 1%;
}

.admin_panel_right, .right {
	border-right: 2px solid;
	left: 68.5%;
}

.admin_panel_right {
	left: 34%;
	width: 64.5%;
}

.about, #popup, #popupabout {
	background-color: #000000;
	border-radius: 8px;
	left: 12%;
	right: 12%;
	top: 12%;
	position: absolute;
	width: auto;
}

.about {
	bottom: 12%;
}

#popupabout {
	left: 24%;
	top: 40%;
	width: 52%;
}

#popup_irc {
	top: -55%;
	margin-left: 75%;
	position: relative;
}

.info_selected {
	height: 15%;
	padding: 4px;
}

#info_param {
	border-top: 1px solid;
	height: 85%;
	padding: 4px;
	position: relative;
	width: auto;
}

#progressbarControl {
	background-color: #000000;
	border: 1px solid;
	border-radius: 3px;
	height: 20px;
	text-align: left;
	width: 360px;
}

#progressbar {
	background-color: #333333;
}

iframe {
	border: 0;
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

.IRC {
	height: 394px;
	margin-right: 0;
	position: absolute;
	width: 304px;
}

article {
	border-bottom: 2px solid;
	border-radius: 8px;
	border-top: 2px solid;
	height: 100%;
	left: 34%;
	position: absolute;
	width: 31.5%;
}

h2 {
	background-color: #CCCCCC;
	border-radius: 4px;
	color: #000000;
	height: 4.30%;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	padding-left: 4px;
	position: relative;
}

.content {
	border: 1px solid;
	border-radius: 4px;
	height: 95%;
	overflow: auto;
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
	width: auto;
}

#frame_param {
	border: 1px solid;
	border-radius: 4px;
	height: 95%;
	overflow: hidden;
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
	width: auto;
}

img.classement {
	margin-left: 4px;
	padding-top: 3px;
	position: absolute;
}

img.avatar {
	margin-left: -25px;
	position: absolute;
}

img.logo {
	margin-left: -140px;
	margin-top: 5px;
	position: absolute;
}

a {
	color: #CCCCCC;
	text-decoration: none;
}

.profile {
	border-radius: 8px;
	padding: 2px;
	transition: 0.7s;
}

.profile:hover {
	background-color: #333333;
}

.volume {
	background: #000000;
	border-radius: 3px;
	bottom: 0;
	cursor: pointer;
	margin-left: 50px;
	position: absolute;
	vertical-align: bottom;
	width: 8px;
}

.volume:hover {
	background-color: #333333;
	color: #000000;
}

.stick1 {
	border: 1px solid #888888;
	height: 5px;
	left: 0px;
}

.stick2 {
	border: 1px solid #999999;
	height: 10px;
	left: 9px;
}

.stick3 {
	border: 1px solid #AAAAAA;
	height: 15px;
	left: 18px;
}

.stick4 {
	border: 1px solid #BBBBBB;
	height: 20px;
	left: 27px;
}

.stick5 {
	border: 1px solid #CCCCCC;
	height: 25px;
	left: 36px;
}

pre {
	font-size: 16px;
}

footer {
	height: 3%;
	padding-bottom: 4px;
	padding-top: 4px;
	position: relative;
	text-align: left;
	width: 100%;
}

/********
*  END  *
********/
