ErrorDocument 403 /maintenance.html 
deny from all 
allow from 192.168.0.37 
allow from 127.0.0.1
<Files maintenance.html>
allow from all
</Files>
<Files stylemaintenance.css>
allow from all
</Files>
<Files systemmaintenance.css>
allow from all
</Files>
<Files scriptmaintenance.js>
allow from all
</Files>
