ErrorDocument 403 '<meta http-equiv="refresh" content="0; URL=./maintenance.html">'
<Files 'icon.png'>
allow from all
</Files>
<Files 'logo.png'>
allow from all
</Files>
<Files 'alert.png'>
allow from all
</Files>
